// Body
$body-bg: #f8fafc;

// Typography
$font-family-sans-serif: 'Montserrat', Helvetica, sans-serif;
$font-family-serif: 'Open Sans', Arial, serif;
$font-size-base: 1rem;
$font-size-2x: 1.5rem;
$font-size-small: .8rem;
$line-height-base: 1.6;

// Colors
$primary-color: #FF2E40;
$primary-accenture-color: #ff3b44;

$secondary-color: #f7ae49;
$secondary-accenture-color: #f7c783;

$accenture-color: #FAEDCA;
$light-color: #FDFDFF;
$rgba-light-color: rgba(253, 253, 255, 0.5);

$dark-color: #212121;
$rgba-dark-color: rgba(33,33,33,.8);
