// Body
$body-bg: #f8fafc;

// Typography
$font-family-sans-serif: 'Nunito', sans-serif;
$font-size-base: 0.9rem;
$line-height-base: 1.6;

// Colors
$primary-color: #FF2E40;
$secondary-color: #f7ae49;
$accenture-color: #FAEDCA;
$light-color: #FDFDFF;
$dark-color: #212121;