header {
    background-color: $secondary-color;
    position: sticky;
    top: 0;
    left: 0;
    z-index: 10;
    nav img {
        height: 30px;
    }
    
    i {
        transform: translateY(5px);
    }
    
    button.nav-toggler {
        border: none;
        background-color: transparent;
    }

    nav.navbar{
        padding-top: 0;
        padding-bottom: 0;
    }

    li.nav-item{
        padding: 10px 0;
        border-bottom: 2px solid $secondary-color;
        transition: .5s;
        a{
            transition: .5s;
        }
        &:hover{
            border-bottom: 2px solid $dark-color;
        }
        &:hover a{
            color: $dark-color!important;
        }
    }
}
