.error{
    background-image: url(../../assets/images/error.png);
    height: 100vh;
    background-size: cover;
    background-repeat: no-repeat;
}
.errorquattro{
    font-weight: 900;
    font-size: 10rem;
    color: white;
    padding: 0px 22px;
}
.centering{
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
}
.text-error{
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, 110%);
    text-shadow: 0px 11px 10px rgba(81,67,21,0.8);
}